<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sariou_Bot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Sariou_Bot.Properties.Settings>
            <setting name="clientid" serializeAs="String">
                <value>3rroaybe8j5ahxbhdfcaa19k8yyyjg</value>
            </setting>
            <setting name="clientsecret" serializeAs="String">
                <value>tqvkn4eexb9apb94xaziy65c2i5qx7</value>
            </setting>
            <setting name="token" serializeAs="String">
                <value>9yx5zczy5gt4x3vae7sw0gjknl57gq</value>
            </setting>
            <setting name="RefreshToken" serializeAs="String">
                <value>m0vezoafedhqqimm5mds0fscf9s6vj2vfk60i1ks93matwhn56</value>
            </setting>
        </Sariou_Bot.Properties.Settings>
    </userSettings>
	<connectionStrings>
		<add name="Default" connectionString="Data Source=.\sarioubot.db;Version=3;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>